
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Poppins';
    color: #FFD700;
}

body {
    height: 100vh;
    background-color: #1d1d1d;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;

    height: 100%;
}
#canvas {
    background-color: #292929;
}
.score {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 90px;
}

.score-value {
    font-size: 2rem;
    font-weight: 700;
}

.menu {
    font-size: 2rem;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 90px;
}

#final-score-value {
    font-size: 3rem;
    font-weight: 700;
    margin-top: -20px;
}

.play-button {
    font-size: 1rem;
    color: #1d1d1d;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
}

.play-button:hover {
    cursor: pointer;
}